@font-face {
  font-family: ;
  src: url('../fonts/');
}
/* Global styles */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
input,
input::-webkit-input-placeholder,
textarea,
textarea::-webkit-input-placeholder {
  font-family: ;
  border: none;
  outline: none;
}
input,
input::-moz-placeholder,
textarea,
textarea::-moz-placeholder {
  font-family: ;
  border: none;
  outline: none;
}
input,
input:-ms-input-placeholder,
textarea,
textarea:-ms-input-placeholder {
  font-family: ;
  border: none;
  outline: none;
}
input,
input::-ms-input-placeholder,
textarea,
textarea::-ms-input-placeholder {
  font-family: ;
  border: none;
  outline: none;
}
input,
input::placeholder,
textarea,
textarea::placeholder {
  font-family: ;
  border: none;
  outline: none;
}
body {
  font-family: ;
}
section {
  position: relative;
}
/* M & P */
.padding_left_none {
  padding-left: 0;
}
.padding_right_none {
  padding-right: 0;
}
.margin_left_none {
  margin-left: 0;
}
.margin_right_none {
  margin-right: 0;
}
.no_margin {
  margin: 0;
}
.no_padding {
  padding: 0;
}
/* Mixins */
.circle_small_img {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 32px;
  height: 32px;
}
